stages:
   - test
   - build

test:
  stage: test
  image: golang:1.13
  script:
   - go mod init feniks
   - go test .
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "./*.go"


build:
  stage: build
  image: docker:latest
  script:
   - docker build .
